.main {
  padding: 1.5rem;
}

.insights {
  background-color: var(--primary-bg);
  border-radius: var(--radius);
}

.insights__content {
  padding: var(--spacing-content);
}

.insights__img {
  position: relative;
}

.insights__img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsla(var(--accent-hsl), 0.5);
}

.insights__img img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);

  width: 100%;
}

.insights__content {
  text-align: center;
}

.insights__title {
  font-family: var(--ff-primary);
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  margin: var(--spacing-title);
}

.insights__title span {
  color: var(--accent);
}

.insights__desc {
  font-size: var(--fs-desc);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);

  color: var(--neutral-200);
  margin-block-end: var(--spacing-desc);
}

.insights__stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-stats);
}

.insights__stats p {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  font-family: var(--ff-secondary);
  font-size: var(--fs-stats-desc);

  text-transform: uppercase;
  color: var(--neutral-200);
}

.insights__stats span {
  color: var(--neutral-0);
  font-family: var(--ff-primary);
  font-size: var(--fs-stats-n);
  font-weight: var(--fw-bold);
}

@media screen and (min-width: 48rem) {
  .insights {
    display: flex;
    flex-direction: row-reverse;
    max-width: 69.37rem;
  }

  .insights__content {
    text-align: start;
  }

  .insights__img {
    width: 100%;
  }

  .insights__img img {
    border-radius: 0 var(--radius) var(--radius) 0;
    object-fit: cover;
    height: 100%;
  }

  .insights__stats {
    flex-direction: row;
  }
}
